# Root
.env
*.log
__pycache__/
*.py[cod]
*.sqlite3
.DS_Store

# Node (Frontend)
frontend/node_modules/
frontend/.env
frontend/.next/
frontend/build/
frontend/dist/
frontend/.turbo/
frontend/.cache/
frontend/coverage/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.eslintcache
frontend/.parcel-cache/
frontend/.vite/
frontend/public/assets/

# Python (Backend)
backend/__pycache__/
backend/*.py[cod]
backend/env/
backend/.env
backend/.venv/
backend/venv/
backend/.mypy_cache/
backend/.pytest_cache/
backend/.coverage
backend/instance/
backend/.vscode/
backend/db.sqlite3
backend/*.log

# VS Code
.vscode/

# MacOS
.DS_Store

# Virtualenv
*.env/
*.venv/
env/
venv/
